body {
  background-color: #f1b804;
}
.logo {
  justify-content: center;
  display: flex;
  height: 45vw;
  margin: -50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: xx-large;
  background-color: #f1f1f1;
}
ul.vertical a.active,
a:hover {
  background-color: #04aa6d;
  color: white;
}
/* a:hover,
a:active {
  color: #059862;
} */
ul.vertical li a {
  display: block;
  /* color: #000; */
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
